{
  "openapi": "3.0.3",
  "info": {
    "title": "Yume API — Новости",
    "version": "1.0.0",
    "description": "Публикации и анонсы для пользователей."
  },
  "paths": {
    "/v1/news/": {
      "get": {
        "operationId": "root_list",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/TenantId"
          }
        ],
        "security": [
          {
            "jwtAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedNewsList"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Get news"
      }
    },
    "/v1/news/{id}/": {
      "get": {
        "operationId": "root_retrieve",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/TenantId"
          }
        ],
        "security": [
          {
            "jwtAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/News"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Get news"
      }
    }
  },
  "components": {
    "schemas": {
      "ImageAttachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "image": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "thumb": {
            "type": "string",
            "format": "uri",
            "readOnly": true,
            "nullable": true
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "nullable": true
          },
          "extension": {
            "type": "string",
            "readOnly": true
          },
          "hash": {
            "type": "string",
            "readOnly": true,
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "title": "Создан"
          },
          "created_by": {
            "type": "integer",
            "readOnly": true,
            "nullable": true
          },
          "content_type": {
            "type": "string",
            "title": "Имя класса модели"
          },
          "object_id": {
            "type": "integer",
            "maximum": 9223372036854775807,
            "minimum": 0,
            "format": "int64"
          },
          "type": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          }
        },
        "required": [
          "content_type",
          "created_at",
          "created_by",
          "extension",
          "hash",
          "id",
          "name",
          "object_id",
          "thumb"
        ]
      },
      "News": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "maxLength": 255
          },
          "content": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageAttachment"
            },
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "title": "Создан"
          }
        },
        "required": [
          "content",
          "created_at",
          "id",
          "images",
          "title"
        ]
      },
      "PaginatedNewsList": {
        "type": "object",
        "required": [
          "count",
          "results"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "example": 123
          },
          "next": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "example": "http://api.example.org/accounts/?page=4"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "example": "http://api.example.org/accounts/?page=2"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/News"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "jwtAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "TenantId": {
        "name": "X-Tenant-Id",
        "in": "header",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "description": "Компания, в контексте которой выполняется запрос — её id из `GET /v1/tenant/`. Пользователь должен состоять в этой компании: чужой id доступа к данным не даёт. Без заголовка компания определяется по домену запроса."
      }
    }
  },
  "servers": [
    {
      "url": "https://api.yume.cloud",
      "description": "Production"
    },
    {
      "url": "https://api.stage.yume.cloud",
      "description": "Stage"
    }
  ]
}
